<div id="containa" class="container">
    <div id="time-on-mouse" class="time-on-mouse">
        <div style="display: flex; justify-content: center; align-items: center;">
            <p style="color: white;" id="text-time"></p>
        </div>
    </div>
    <video style="background-color: black;" (click)="playVideo()" id="videoPlayer" [src]="urlVideo"></video>
    <div class="controls">
        <button *ngIf="playing === false && restartButton === false" (click)="playVideo()"><mat-icon>play_circle</mat-icon></button>
        <button *ngIf="playing === true && restartButton === false" (click)="playVideo()"><mat-icon>pause_circle</mat-icon></button>
        <button *ngIf="restartButton === true" (click)="restartVideo()"><mat-icon>replay_circle_filled</mat-icon></button>
        <div style="color: white; display: flex; align-items: center;">{{ currentTime }} / {{ endTime }}</div>
        <button><i class="fa fa-fast-backward"></i></button>
        <div id="timeline"
        (click)="clickBar($event)"
        (mousemove)="mousemoveBar($event)"
        (mouseleave)="mouseleaveBar($event)"
        class="timeline">
            <div class="bar">
                <div id="barra" class="inner"></div>
            </div>
        </div>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button *ngFor="let quality of qualities" (click)="changeQuality(quality)" [disabled]="disabledButton(quality)" mat-menu-item>{{quality}}</button>
        </mat-menu>
        <button (click)="fullScreen()"><mat-icon>fullscreen</mat-icon></button>
    </div>
</div>
<div class="title-desc">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
</div>
<!-- <button (click)="test()"></button> -->